* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #4668a2;
}

.container {
    position: relative;
}



header{
 
    background-color: #37517e;
    display: flex;
  align-items: center;
   top: 0;
    justify-content: space-evenly;
    /* flex-direction: row; */
    position: sticky;   
    height: 100px;
  
}
.icon{
  width: 20%;
  padding-left: 50px;

}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}
.btn{
    padding-left: 20px;
    width: 20%;
}
.btn button{
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(21, 231, 231);
}
.Dropdown{
    color: aliceblue;


}
.main{
    min-height: 100vh;
    background-color: #37517e;
}
.sec1{
    display: flex;
    padding:20px ;
    min-height:500px ;
    background-color:#37517e ;
}
.left{
    width: 50%;
    height: 400px;
    padding-top: 100px;
    margin-left:100px ;
}
.left_inner p{
    font-size: 22px;
}
.left .btns{
    display: flex;
    gap: 20px;
}
.btn1 button{
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    background-color: rgb(21, 231, 231);
}
.right{
    height: 200px;
    padding: 50px 0 0 40px;
    float: right;
}
.right img{
    width: 50%;
}